body {
    background-color: antiquewhite;
    text-align: center;
}
h1 {
    font-size: 90px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 50px;
}
img {
    height: auto;
    width: 650px;
}
h2 {
    font-size: 50px;
}
.steps {
    padding-left: 250px;
    padding-right: 250px;
}
ol {
    list-style: none;
    text-align: left;
    font-size: 20px;
    padding-bottom: 50px;
}
p {
    font-size: 20px;
}